@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,500&display=swap'); 

html{
    font-size: 62.5%;     
}

*{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;     
} 

header{
    background-color: rgba(6,36, 36, 255);
}         

header img{
    width: 23rem;
    min-width: 70px;     
}

section p{
    font-size: 2.4rem;
    line-height: 2.4rem;
}

h1{
    color: rgba(6,36, 36, 255); 
    font-size: 3rem;
    font-weight: 600;     
} 

h2,h3{
    color: rgba(6,36, 36, 255);
    font-size: 2.7rem;
} 

h4{
    color: white;
    font-size: 2rem;
} 

li{
    list-style: none;
    text-decoration: none; 
} 

a{
    text-decoration: none;
} 

p{
    color: rgb(48, 53, 49);
    font-family: 'EB Garamond', serif;        
} 

table{
    font-size: 2rem;
    font-family: 'EB Garamond', serif;
    margin-bottom: 10px;
}

form{
    font-size: 2rem;
}              

main{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
    margin-top: 7px;
} 

.contenedor{
    display: grid;
    width: 100%;
    flex-direction: column;
    justify-content: center;     
}

.template-areas{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "encabezado encabezado encabezado" "main main main" "pie pie pie" ; 
}

.encabezado{  
    grid-area: encabezado;       
} 

.main{
    grid-area: main; 
} 

.pie{
    grid-area: pie; 
} 

#barraNav{
    font-family: 'EB Garamond', serif; 
    font-size: 2.4rem;      
}
       #barraNav li{
           margin: 0.05em;                    
           
       }
           #barraNav li a:hover{
          color: rgb(0, 129, 167);
              } 
           #barraNav li a {
          color: white; 
          background-color: (6,36, 36, 255);
          border-radius: 7px;                     
             } 

.carousel__Size{
    max-width: 612px;
}

.navbar-toggler{
    color: azure;
    border-color: azure;    
    
} 

.encabezadoMenu {
    margin-right: 0.5rem; 
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.encabezadoMenu>li {
    background-color: rgb(224, 231, 224);
    padding: 0.3rem;
    margin: 0.5rem;
    border-radius: 8px;        
}

.encabezadoMenu>li>a {
    font-size: 1.4rem;
    color: rgba(6,36, 36, 255);
}

.sectionImagenes{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    gap: 0.5em;
}

.sectionImagenes__cajas img{
    width: 100%;
    max-width: 612px;
}

.ventajas{
    text-align: center;
}

.ventajas__text{
    font-size: 1.8rem;
    font-weight: 600;
}

.zocalo {
    background-color: rgba(6,36, 36, 255);
    padding: 1rem;
    display: flex;     
    flex-direction: column;
    justify-content:center;
    align-items: center ; 
} 

.zocalo__Direccion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
}

.zocalo__Direccion>p {
    font-size: 1.7rem;
    color: white;
}

i {
    font-size: 4rem;
    color: white;
} 

.cajas{
    border: double 4px;
    color: rgba(6,36, 36, 255);     
    justify-content: space-between; 
}

.cajas img{
    width: 100%;
    max-width: 612px;
} 

.textCenter{
    text-align: center;     
}

.textNormal{
    font-family: 'EB Garamond', serif; 
    font-size: 2.2rem;     
}

.textSmall{
    font-family: 'EB Garamond', serif; 
    font-size: 1.9rem; 
}

.wordSpacing{
    word-spacing: 0.6rem;
}

.padd{
    padding: 7px;
    margin: 7px;
}

.textGreen{
    font-weight: 600;
    color: rgba(6,36, 36, 255);
} 

.scale:hover{
    transform: scale(1.05);
    cursor: pointer; 
    transition: transform 2s;    
} 


/* animaciones */

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.shadow-drop-center {
	-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  } 

  @-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

/* moviles pequeños */
@media only screen and (min-device-width: 360px) and (max-device-width: 480px){ 
    

    .encabezadoMenu {
        margin-right: 0.5rem; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }   
    
    .encabezadoMenu>li {
        height: fit-content;
        width: 100%;
    } 

    .encabezadoMenu>li>a {
        font-size: 1.6rem;         
    }

    .tabla-precios{
        font-size: 0.9rem;
    }
    
} 


/* moviles grandes */
@media only screen and (min-device-width: 480px) and (max-device-width: 768px){ 
    .encabezado{
        flex-direction: row;
        justify-content:space-between;
        align-items:center ; 
    }

    header img{
        width: 60%;
        min-width: 70px;
    }

    .zocalo{
        flex-direction: column;
    } 
    .encabezadoMenu>li>a {
        font-size: 1.7rem;
    }
}
/* ipads y tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1233px){

    .encabezado{
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
    }
    .zocalo{
        flex-direction: row;
        justify-content: space-between;
    } 

    .encabezadoMenu>li>a {
        font-size: 2rem;
    }

    .template-areas{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "encabezado encabezado" "main main" "pie pie" ; 
    }
}

/* monitores */
@media only screen and (min-device-width: 1233px) and (max-device-width: 1920px){

    .encabezado{
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
    }
    .zocalo{
        flex-direction: row;
        justify-content: space-between;
    } 

    .encabezadoMenu>li>a {
        font-size: 2.5rem;
    }

    .template-areas{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "encabezado encabezado" "main main" "pie pie" ; 
    }

}


