//variables

$verde: rgba(6,36, 36, 255);
$gris: rgb(48, 53, 49);
$blanco: white;

// mixin

@mixin p-m($padd, $marg){
    padding: $padd;
    margin: $marg;
}

footer{
    @include p-m(1.2em,1.2em);
}

@for $i from 1 through 3{
    .padd-#{$i}{
        padding: 0.5rem *$i;
    }
}

@for $i from 1 through 3{
    .marg-#{$i}{
        margin: 0.7rem *$i;
    }
}