section p{
    font-size: 2.4rem;
    line-height: 2.4rem;
}

h1{
    color: rgba(6,36, 36, 255); 
    font-size: 3rem;
    font-weight: 600;     
} 

h2,h3{
    color: rgba(6,36, 36, 255);
    font-size: 3rem;
} 

h4{
    color: white;
    font-size: 2.2rem;
} 

form{
    font-size: 2rem;
}              

main{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
    margin-top: 7px;
} 

.sectionImagenes{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    gap: 0.5em;
    list-style: none;
}

.sectionImagenes__cajas img{
    width: 100%;
    max-width: 612px;     
}

.carousel__Size{
    max-width: 612px;
} 

.ventajas{
    text-align: center;
}

.ventajas__text{
    font-size: 1.8rem;
    font-weight: 600;
    list-style: none;
}

.cajas{
    border: double 4px;
    color: rgba(6,36, 36, 255);     
    justify-content: space-between; 
}

.cajas img{
    width: 100%;
    max-width: 612px;
} 

.contenedor{
    display: grid;
    width: 100%;
    flex-direction: column;
    justify-content: center;     
}

.template-areas{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "encabezado encabezado encabezado" "main main main" "pie pie pie" ; 
}

.encabezado{  
    grid-area: encabezado;       
} 

.main{
    grid-area: main; 
} 

.pie{
    grid-area: pie; 
} 

