section p{
    font-size: 2.4rem;
    line-height: 2.4rem;
}

h1{
    color: rgba(6,36, 36, 255); 
    font-size: 3rem;
    font-weight: 600;     
} 

h2,h3{
    color: rgba(6,36, 36, 255);
    font-size: 2.7rem;
} 

h4{
    color: white;
    font-size: 2rem;
} 
