/* moviles pequeños */
@media only screen and (min-device-width: 360px) and (max-device-width: 480px){ 
    

    .encabezadoMenu {
        margin-right: 0.5rem; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }   
    
    .encabezadoMenu>li {
        height: fit-content;
        width: 100%;
    } 

    .encabezadoMenu>li>a {
        font-size: 1.6rem;         
    }

    .tabla-precios{
        font-size: 0.9rem;
    }
    
} 


/* moviles grandes */
@media only screen and (min-device-width: 480px) and (max-device-width: 768px){ 
    .encabezado{
        flex-direction: row;
        justify-content:space-between;
        align-items:center ; 
    }

    header img{
        width: 60%;
        min-width: 70px;
    }

    .zocalo{
        flex-direction: column;
    } 
    .encabezadoMenu>li>a {
        font-size: 1.7rem;
    }
}
/* ipads y tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1233px){

    .encabezado{
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
    }
    .zocalo{
        flex-direction: row;
        justify-content: space-between;
    } 

    .encabezadoMenu>li>a {
        font-size: 2rem;
    }

    .template-areas{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "encabezado encabezado" "main main" "pie pie" ; 
    }
}

/* monitores */
@media only screen and (min-device-width: 1233px) and (max-device-width: 1920px){

    .encabezado{
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
    }
    .zocalo{
        flex-direction: row;
        justify-content: space-between;
    } 

    .encabezadoMenu>li>a {
        font-size: 2.5rem;
    }

    .template-areas{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "encabezado encabezado" "main main" "pie pie" ; 
    }

}